/* Estilos básicos */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #0078d4;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

section.hero {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqJlApwTmQ8USiu_aAtbSeGPongUYhFVJTMg&usqp=CAU');
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    color:lightblue;
}

section.hero h2 {
    font-size: 48px;
}

.cta-button {
    display: inline-block;
    background-color:lightblue;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #dd5500;
}

section.about {
    padding: 40px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #0078d4;
    color: #fff;
}
